@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button src="https://google.com" class="btn btn-success" onclick="CrearAlerta()">Mi primer boton</button>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Numero 1</label>
            <input type="number" class="form-control" id="numero1" placeholder="Numero 1">
  
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Numero 2</label>
            <input type="number" class="form-control" id="numero2" placeholder="Numero 2">
        </div>
       
        <button id="boton1" type="button" class="btn btn-primary" >Sumar</button>
        <br><br>

        <input type="number" class="form-control" id="resultado">
        <p id="parrafo_respuesta"> El resultado es: </p>
        <br><br>
        
  
        
    </form>
</div>
